
# Ignoriere alle Dateien in csv_files außer denen mit "sample"
csv_files/*
!csv_files/*sample*

# Ignoriere den venv Ordner
venv/
myenv


# Ignoriere .DS_Store Dateien
.DS_Store

# Ignoriere alle Dateien im output Ordner
output/
